.header__logo {
  display: block;

  width: 142px;
  height: 33px;

  fill: var(--page-coloron-bg);
  transition: fill 0.15s ease-in;
  opacity: 1;
  transition: opacity 0.15s ease-in;
}

.header__logo:hover {
  opacity: 0.5;
  fill: var(--page-coloron-bg-low);
}

@media screen and (max-width: 879px) {
  .header__logo {
    margin-left: 19px;
  }
}

@media screen and (max-width: 413px) {
  .header__logo {
    width: 104px;
    height: 24px;
  }
}