.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 40px;

  box-sizing: border-box;
  min-height: 119px;

  border-bottom: 1px solid var(--page-coloron-bg-low);
}

@media screen and (max-width: 413px) {
  .header {
    margin-bottom: 42px;

    min-height: 84px;
  }
}