.photo__like-button {
  width: 22px;
  height: 19px;

  background-image: url(../../../images/icons/like.svg);
  fill: var(--photo-coloron-bg);
  cursor: pointer;
  transition: opacity 0.15s ease-in;
}

.photo__like-button:hover {
  opacity: 0.5;
}