.theme-switcher__button {
  width: 20px;
  height: 20px;
  
  border-radius: 50%;
  background-color: var(--page-coloron-bg);
  cursor: pointer;
  transition: opacity 0.15s ease;
}

.theme-switcher__button:hover {
  opacity: 0.85;
}