/* 
  Комментарий для ревьювера
  Для страницы написал блок, содержащий цветовые темы: темная и светлая.
  Использовал CSS-переменные.
  Знаю, что переменные в основном используют в CSS препроцессорах, чтобы не захламлять
  готовый в продакшн код, но все равно захотелось поиграться с ними.
  В БЭМ видимо никак не регламентируются CSS-переменные, поэтому
  взял пример на форуме: https://ru.bem.info/forum/1572/
  В кратце, есть какой-то цвет и для него создаётся рекомендуемый контрастный цвет.
  В качестве дополнительного задания контраста используется доп. параметр -low, -hight
 */
.theme_color_light {
  --page-color-bg: white;
  --page-coloron-bg: black;
  --page-coloron-bg-low: #545454;

  --photo-color-bg: black;
  --photo-coloron-bg: white;
  --photo-coloron-bg-low: #545454;
}