@import url(../vendor/normalize.min.css);
@import url(../vendor/fonts/fonts.css);

.page {
  background-color: black;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: white;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

.page__container {
  max-width: 880px;
  margin: 0 auto;
}

.page__symbols {
  display: none;
}

.popup {
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;

  transition: opacity 0.5s ease;
  opacity: 0;
}

.popup_opened {
  visibility: visible;
  opacity: 1;
}

.popup:after {
  content: '';

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: black;
  opacity: 0.5;
}

.popup__content {
  position: relative;
  z-index: 9;

  box-sizing: border-box;
  padding: 34px 36px 37px;
  width: 430px;

  background-color: white;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.popup__close-button {
  position: absolute;
  top: -40px;
  right: -40px;
  width: 40px;
  height: 40px;

  fill: white;
  transform: rotate(45deg);
  cursor: pointer;
  transition: opacity 0.15 ease-in;
}

.popup__close-button:hover {
  opacity: 0.6;
}

.popup__title {
  margin-top: 0;
  margin-bottom: 54px;

  color: black;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.21;
}

.input {
  display: flex;
  flex-direction: column;
}

.input__text {
  padding: 0 0 13px 0;

  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;

  transition: border-bottom 0.15s ease-in;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.input__text:hover {
  border-color: rgba(0, 0, 0, 0.8);
  }

.input__text:focus {
  border-color: rgba(0, 0, 0, 0.8);
  outline: none;
}

.input__text_type_name {
  margin-bottom: 30px;
}

.input__text_type_activity {
  margin-bottom: 48px;
}

.input__submit-button {
  padding: 14px 0;
  background-color: black;
  color: white;
  cursor: pointer;
  border: none;
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  transition: opacity 0.15s ease-in;
}

.input__submit-button:hover {
  opacity: 0.8;
}

.input__submit-button:focus {
  opacity: 0.8;
  outline: none;
}

.header {
  margin-top: 45px;
  margin-bottom: 40px;

  box-sizing: border-box;
  min-height: 74px;

  border-bottom: 1px solid #545454;
}

.header__logo {
  display: block;

  width: 142px;
  height: 33px;

  fill: white;
  transition: fill 0.15s ease-in;
}

.header__logo:hover {
  fill: #545454;
}

.profile {
  display: grid;
  grid-template-columns: 120px calc(100% - 120px - 150px - 30px*2) 150px;
  gap: 30px;

  margin-bottom: 50px;
  max-width: 100%;
}

.profile__avatar {
  width: 120px;
  height: 120px;

  border-radius: 50%;
  object-fit: cover;
}

.profile__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile__edit-container {
  display: flex;
  align-items: center;
}

.profile__name {
  margin-top: 0;
  margin-right: 18px;
  margin-bottom: 0;
  max-width: calc(100% - 24px - 18px);

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.14;
}

.profile__button {
  display: flex;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;

  border: 1px solid white;
  cursor: pointer;
  transition: opacity 0.15s ease-in;
}

.profile__button:hover {
  opacity: 0.6;
}

.profile__button_type_edit {
  width: 24px;
  height: 24px;
}

.profile__button_type_add {
  align-self: center;

  width: 150px;
  height: 50px;

  border-width: 2px;
}

.profile__activity {
  margin-top: 8px;
  margin-bottom: 0;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
}

.icon {
  fill: white;
}

.icon_type_edit {
  width: 10px;
  height: 10px;
}

.icon_type_add {
  width: 22px;
  height: 22px;
}

.photos {
  margin-bottom: 66px;
}

.photos__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 20px;
  column-gap: 17px;

  margin: 0;
  padding: 0;

  list-style: none;
}

.photo {
  overflow: hidden;
  background-color: white;
  border-radius: 10px;
  color: black;
}

.photo__image-container {
  position: relative;

  padding-bottom: 100%;

  background-color: #545454
}

.photo__image {
  display: block;
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  object-fit: cover;
}

.photo__description {
  display: flex;
  justify-content: space-between;
  align-items: center;

  box-sizing: border-box;
  padding: 25px 20px 26px 21px;
}

.photo__name {
  margin-top: 0;
  margin-right: 21px;
  margin-bottom: 0;
  max-width: calc(100% - 21px - 22px);

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.21;
}

.photo__like-button {
  width: 22px;
  height: 19px;

  fill: black;
  cursor: pointer;
  transition: opacity 0.15s ease-in;
}

.photo__like-button:hover {
  opacity: 0.5;
}

.footer {
  margin-bottom: 60px;
}

.footer__copyright {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  color: #545454;
}