.icon_type_add {
  width: 22px;
  height: 22px;

  background-image: url(../../../images/icons/cross.svg);
}

@media screen and (max-width: 413px) {
  .icon_type_add {
    width: 16px;
    height: 16px;
  }
}